<div>
    <h2 style="color:crimson;">Productos</h2>
    {{#if data.length}}
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: yellow;"> <th>Nombre</th> <th>Precio</th> <th>Descripcion</th> <th>Foto</th></tr>
                {{#each data}}
                <tr>
                    <td>{{name}}</td>
                    <td>${{price}}</td>
                    <td>{{description}}</td>
                    <td><img src={{photo}} alt="img" ></td>
                </tr>
                {{/each}}
            </table>
        </div>
    {{else}}
        <h3 class="alert alert-danger">no se encontraron datos</h1>
    {{/if}}
</div>
